<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="alternate" href="#" hreflang="en-en" />
  	<link rel="alternate" href="#" hreflang="id-id" />
  	<title>Ultima II Skin Check</title>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  	<link rel="stylesheet" href="assets/css/main.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="assets/js/i18n/datepicker.en.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
</head>
<body>
	<!-- NAVIGATION BAR -->
	<nav class="nav-container">
		<div class="wrapper">
			<div class="left col-md-6 col-xs-8">
				<div class="logo"></div>
				<h1 class="logo-text">Skin Check</h1>
			</div>
			<div class="right col-md-4 col-xs-2">
				<div class="menu">Welcome, <a href="#" class="user-account"> <span class="bold">Tiva</span></a></div>
				<div class="menu">
					<a class="active">EN</a> | <a href="">IN</a>
				</div>
			</div>
		</div>
  	</nav>
  	<div class="content-container single-page">
            <section class="myProfile add-padding">
                    <div class="wrapper">
                        <div class="col-md-12">
                            <h1 class="myProfileTitle">MY PROFILE</h1>
                            <div class="col-md-6">
                                <img src="assets/img/profile.png" alt="" class="profilePicture">
                            </div>
                            <div class="col-md-6">
                                <div class="fullname">						
                                    <p>Fullname</p>
                                    <p>Airine Ananda Putri</p>
                                </div>
                                <div class="dob">						
                                    <p>Date of birth</p>
                                    <p>8 April 1995</p>
                                </div>
                                <div class="gender">
                                    <p>Gender</p>
                                    <p>Female</p>
                                </div>
                                <div class="phone">
                                    <p>Phone Number</p>
                                    <p>081377567634</p>
                                </div>
                                <div class="email">
                                    <p>Email Address</p>
                                    <p>airinenandaa@gmail.com</p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button class="btn button editProfileBtn">
                                    EDIT PROFILE
                                </button>
                            </div>
                        </div>
                    </div>
                  </section>
            
  	</div>
  	<footer>
  		Copyright &copy; 2019 ULTIMA II
	</footer>
  	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>


